<div id="<%= dom_id(table) %>" class="datatable">
<%= render partial: './header', locals: { table: table } %>
<%= render partial: './body', locals: { table: table } %>
<%= render partial: './footer', locals: { table: table } %>
</div>
