<%= turbo_frame_tag(table) do %>
  <div class="datatable">
    <%= render partial: 'hotwire_datatables/header', locals: { table: table } %>
    <%= render partial: 'hotwire_datatables/body', locals: { table: table } %>
    <%= render partial: 'hotwire_datatables/footer', locals: { table: table } %>
  </div>
<% end %>
