<%= turbo_frame_tag(@table) do %>
  <div class="datatable">
    <div class="dt-header dt-row">
      <% @table.columns.each do |column| %>
        <%= HotwireDatatables::ColumnHeader.new(@table, column, request) %>
      <% end %>
    </div>

    <% @table.rows.each do |row| %>
      <%# Rows can be rendered on their own, enabling them to by updated dynamically %>
      <%= render row %>
    <% end %>
  </div>
  <%== render @table.pagination_context %>

<% end %>
