.datatable {
    display: table;
    border-collapse: collapse;
}

.datatable .dt-row {
    display: table-row;
}

.datatable .dt-header .dt-col-header,
.datatable .dt-cell {
    display: table-cell;
    border: black 1px solid;
    padding: 2px;
}

.datatable .dt-row:nth-child(odd) {
    background-color: #f3f3f3;
}

.datatable .dt-header {
    font-weight: bold;
    position: relative;
}

.datatable .dt-header .sortable {
    cursor: pointer;
}

.datatable .dt-header .sort::before,
.datatable .dt-header .sort::after {
    position: absolute;
    display: block;
    right: 10px;
    line-height: 9px;
    font-size: 0.6rem;
    opacity: 0.3;
    cursor: pointer;
}

.datatable .dt-header .dt-col-header {
    display: table-cell;
    padding: 2px;
    position: relative;
    border: black 1px solid;
}

.datatable .dt-header .dt-col-header a {
    text-decoration: none;
    color: black;
    display: block;
}

.datatable .dt-header .sort::before {
    content: "▲";
    bottom: 50%;
}

.datatable .dt-header .sort.sort-asc::before {
    opacity: 0.6;
}

.datatable .dt-header .sort::after {
    content: "▼";
    top: 50%;
}

.datatable .dt-header .sort.sort-desc::after {
    opacity: 0.6;
}